/* .about-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

.about-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-container h3 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0062cc;
} */

section {
  padding: 60px 0;
  overflow: hidden;
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-aos][data-aos][data-aos-easing=ease-in-out],
body[data-aos-easing=ease-in-out] [data-aos] {
  transition-timing-function: ease-in-out;
}

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}


@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

div {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

[data-aos=fade-up] {
  transform: translate3d(0, 100px, 0);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h2,
h2 {
  font-size: calc(1.325rem + .9vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title p {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}